.salade{

    display: flex;
    background-image: url(/images/61842.png);
    width: 100vw;
    height: 100vh;
    align-items: center;
    

    &_content{

        max-width: 600px;
        margin-left: 60px;

        h3{
            color: $green;
            font-size: $poppins2;
            margin-bottom: 20px;
        }

        p{
            color: $gray;
            font-size: $poppins;
            padding-inline: 24px;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }

        a {
            position: relative;
            top: 20px;
            margin-left: 25px;
            text-decoration: none;
            padding: 14px 60px 14px 60px;
            background-color: $green;
            border-radius: 5%;
            box-shadow: 6px 3px 3px $gray;
        }

        &_text{

            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: justify;
        }
    }

    &_img {
        height: 100vh;
        width: auto;
        object-fit: cover;
        overflow: hidden;

    }
}


.preparation{
    height: 100vh;
    background-image: url(/images/ismael-trevino-NDyuR4Huig8-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;


    &_card {

        position: relative;
        top: 100px;
        left: 800px;
        height: 500px;
        max-width: 500px;
        background-color: $green    ;
        


        
    
        a {
            position: relative;
            top: 20px;
            margin: 130px;
            text-decoration: none;
            padding: 14px 60px 14px 60px;
            background-color: white;
            border-radius: 5%;
            color: $green;
            box-shadow: 6px 3px 3px $gray;
        }

    }
    
    &_text {

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h3{
            font-size: $poppins2;
        }
    
        p{
        
            font-size: $poppins;
            padding-inline: 24px;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
    }
    
}
    

.selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/louis-hansel-MlPD-AzZYMg-unsplash.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;

    h3{
        color: white;
    }

    &_vert{
        text-align: center;
        background-color: $green;
        height: 50vh;
        width: 100vh;
        opacity: 0.7;
        margin-left: 5%;
        margin-top: 20%;

        h3 {
            font-size: 52px;    
            margin-top: 20px;
            margin-bottom: 50px;
        }

        &_content{
            display: flex;
            justify-content: center;
            gap: 100px;
            
        }


    }

    &_bleu {
        text-align: center;
        background-color: #60A0D8;
        opacity: 0.9;
        height: 50vh;
        width: 90vh;
        margin-left: 5%;
        margin-top: 20%;

        h3 {
            font-size: 52px;    
            margin-top: 20px;
            margin-bottom: 50px;
        }

        &_content{
            display: flex;
            justify-content: center;
            gap: 100px;
            
        }
    }
}








.formulaire {
    height: 100vh;
    width: 100vw;
    background-image: url(/images/61842.png);
    background-size: cover;

    &_container{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .formulaire_image {
            display: flex;
            align-items: center;
            margin-top: 15%;
        }

        & img {
            margin-left: 20%;
            max-width: 500px;
            height: auto;
            object-fit: cover;
        }

        .formulaire_content {

            margin-left: 3%;
            margin-top: 5%;

            h2 {
                font-size: $poppins2;
                color: $green;
            }

            p {
                color: black;
                font-size: $poppins;  
            }

            form{
            
                display: grid;
                margin-top: 20px;
                grid-template-columns: 1fr;
                gap: 10px;
                max-width: 400px;

                .form_name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                input{
                    margin: 5px;
                    padding: 5px;
                }
            }

            
            form label{
                color: $green;
                font-size: 23px;
                font-style: italic;
            }

            textarea {
                width: 510px;
                height: 150px;
            }

            .formulaire_button {
                display: flex;
                justify-content: center;
            }

            button{
                padding: 14px 60px 14px 60px;
                color: white;
                background-color: $green;
                margin-top: 3%;
                border: none;
                border-radius: 7%;
                font-size: 24px;
                font-weight: semi-bold;

            }
        }


    }
}