// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


$poppins:  18px;
$poppins2 : 52px;
$poppins3 : 27px;
$green: #B2D234;
$gray: #606060;
